# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
=351c48f45052476689624e79fd209e77ebddc6c7ea354ae8a8f2de828ea65f9a
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.*

# vercel
.vercel

# Sentry
.sentryclirc
