.buttonWrapper {
  display: inherit;
}

.button {
  display: inherit;
  justify-content: center;
  background: #fff;
  color: #333;
  font-size: 18px;
  border: 0;
  padding-top: 5px;
  vertical-align: bottom;
  height: 34px;
  width: 36px;
  border-radius: 4px;
  margin: 1px;
}

.customButton {
  width: fit-content;
}

.button svg {
  fill: #333;
}

.button:hover svg {
  fill: #fff;
}

.customButton:hover,
.customButton:focus,
.button:hover,
.button:focus {
  background: #00bbdb;
  color: #fff;
  outline: 0; /* reset for :focus */
}

.active {
  color: #6a9cc9;
}

.active svg {
  fill: #6a9cc9;
}
