.chapterListProfile::-webkit-scrollbar {
  width: 10px;
  height: 4px;
}
.chapterListProfile::-webkit-scrollbar-thumb {
  background: #e4e4e7;
  border-radius: 10px;
}
.chapterListProfile::-webkit-scrollbar-track {
  background: transparent;
}
