html,
body {
  padding: 0;
  margin: 0;
  background: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.card-wrap {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  height: 100%;
  @apply mx-auto;
}
.card-wrap:hover .card-bg {
  -webkit-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1),
    opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1),
    opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0.8;
}
.card-wrap:hover .card {
  -webkit-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1),
    box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1),
    box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);

  box-shadow: rgba(255, 255, 255, 0.2) 0 0 10px 5px, #00bbdb 0 0 0 1px,
    rgba(0, 0, 0, 0.66) 0 0 0 0;
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  -webkit-transition: transform 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: transform 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  pointer-events: none;
}

svg {
  user-select: none;
}

.tab-list-border::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  z-index: 1;
  background-color: #00bbdb80;
}

.tab-border::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 25%;
  transform: translateX(-50%);
  width: 45%;
  height: 5px;
  z-index: 1;
  background-color: #00bbdbe6;
}

.input-text {
  transition: all 0.2s ease-in-out;
  border: 1px solid rgba(145, 145, 145, 0.7);
}

.input-text::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.input-text::placeholder {
  color: rgb(145, 145, 145, 0.7);
}

.input-text:not(:disabled):hover {
  border: 1px solid #3b82f6;
}

.input-text:not(:disabled):active,
.input-text:not(:disabled):focus {
  border-color: #3b82f6;
  box-shadow: 0px 0px 0px 3px #1e40af;
}

.input-text--error {
  border: 1px solid #ef4444;
}

.input-text--error:not(:disabled):hover {
  border: 1px solid #ef4444;
}

.input-text--error:not(:disabled):active,
.input-text--error:not(:disabled):focus {
  border-color: #ef4444;
  box-shadow: 0px 0px 0px 3px #991b1b;
}

.input-text:disabled {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: not-allowed;
}

.select-wrapper::after {
  color: white;
  -moz-appearance: none;
  appearance: none;
  content: '▾';
  pointer-events: none;
  position: absolute;
  right: 8px;
  top: 50%;
  font-size: 16px;
  transform: translateY(-50%);
}

.input-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 24px;
}

.input-select::-ms-expand {
  display: none;
  -moz-appearance: none;
  appearance: none;
}

.submission-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.titlePublication {
  background: transparent;
  color: black;
  border: none;
}

.titlePublication:focus {
  background: transparent;
  color: black;
  border: none;
}

.titlePublication::-webkit-input-placeholder {
  color: #9197a3;
}
.titlePublication:focus::-webkit-input-placeholder {
  color: #bdc1c9;
}

.RichEditor-root {
  font-size: 14px;
  padding-top: 0;
}

.RichEditor-editor {
  cursor: text;
  margin-bottom: 10px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -1rem 0;
  padding: 1rem;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #00bbdb;
  color: rgb(99, 99, 99);
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 1rem 0;
  padding: 0.75rem 1.5rem;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: #1a202c;
  color: #fff;
  font-size: 16px;
  padding: 20px;
  margin: 1rem 0;
}

.RichEditor-controls {
  font-size: 14px;
  margin-top: 5px;
  user-select: none;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #5890ff;
}

.embedVideo {
  height: 480px;
}
